<!DOCTYPE html>
<html>
<head>
<title>my CV</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/6d56da10e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<div class="grid-container">
  <div class="grid-item item-1">
    <div class="circle"></div>
    <div class="name">HAITAM MOUBAL</div>
    <div class="job">SOFTWARE DEVELOPER</div>
  </div>
  <div class="grid-item item-2">
    <div class="section1">
      <i class="fa-solid fa-user"></i>
      <h2 class="text">CONTACT</h2>
    </div>
    <hr class="line">
        <div>
            <p>Phone</p>
            <p>0690471240</p>
        </div>
        <div>
            <p>Email</p>
            <p>haitammoubal7@gmail.com</p>
        </div>
        <div>
            <p>Address</p>
            <p>casablanca, morocco</p>
        </div>
        <div>
            <p>skinnyleg</p>
        </div>
        <div>
            <p>haitam moubal</p>
        </div>
    <div class="section1" >
        <i class="fa-solid fa-book-open"></i>
        <h2 class="text">EDUCATION</h2>
    </div>
      <hr class="line">
        <div>
          <p>2021-ongoing</p>
          <p>Common Core</p>
          <p>1337 future is loading
            42 network | UM6P</p>
        </div>
        <div>
          <p>2019-2020</p>
          <p>DEUST</p>
          <p>FSTS</p>
        </div>
    <div class="section1" >
        <i class="fa-solid fa-earth-africa"></i>
        <h2 class="text">LANGUAGE</h2>
    </div>
        <hr class="line">
        <div>
          <ul>
            <li>English : fluent</li>
            <li>French : intermediate</li>
            <li>Arabic : native</li>
          </ul>
        </div>
  </div>
  <div class="grid-item item-3">
    <div class="section1">
      <i class="fa-solid fa-user"></i>
      <h2 class="text">PROFILE INFO</h2>
    </div>
    <div>
      <p>
        Hello , I'm a young and passionate developer , full of energy
        and patience , ready to take on any challenges , currently
        seeking work experiences.
      </p>
    </div>
    <div class="section1">
      <i class="fa-solid fa-briefcase"></i>
      <h2 class="text">PROJECTS & EXPERIENCE</h2>
    </div>
    <div>
      <div>
        <div class="section2">
          <i class="fa-regular fa-circle-right"></i>
          <h3>Dining Philosepher Problem</h3>
        </div>
        <p>This project is about the concept of threads and their uses
          and their behaviour in memory in which we create a fixed
          number of threads to preform a routine.</p>
          <p>Tools&languages : VS code , C language.</p>
      </div>
      <div>
        <div class="section3">
          <i class="fa-regular fa-circle-right"></i>
          <h3>Minishell</h3>
        </div>
        <p>This project is about creating a mini bash that
          accpets an input and execute accordingly from
          simple commands like : ls/cat /grep ... , to builtins
          such as cd/echo/export and so on.</p>
          <p>Tools&languages : C language , readline library.</p>
      </div>
      <div>
        <div class="section2">
          <i class="fa-regular fa-circle-right"></i>
          <h3>CUB3D aka wolfenstein 3d</h3>
        </div>
        <p>On this project we explore the concept of
          raycasting and implement it by using rays and
          trigonometry math which enables us to render a
          2D map to 3D .</p>
          <p>Tools&language : neovim , C language.</p>
      </div>
    </div>
      <div class="section1">
        <i class="fa-solid fa-bars-progress"></i>
        <h2 class="text">MY SKILLS & EXPERTISE</h2>
      </div>
      <div>
        <ul style="list-style: none;">
          <li>Programing languages:</li>
          <p>C, C++,C#, javascript, java</p>
          <li>Web developement</li>
          <p>HTML5, CSS3, WordPress</p>
        </ul>
      </div>
      <div class="section1">
        <i class="fa-sharp fa-solid fa-address-book"></i>
        <h2 class="text">STRENTGHS</h2>
      </div>
      <div>
        <ul style="list-style: none;">
          <li>Team Player</li>
          <li>Problem Solving</li>
          <li>Fast Learner</li>
          <li>Stress Management</li>
        </ul>
      </div>
 
  </div>
</div>
</body>
</html>
